.row
  %a.span1(href="")
    %img{src: @book.image_url, width: 160, height: 160}
  .span7
    %span.row 
      %a= @book.title
      = "created by #{@book.created_by.name}"
    %span.row
      %p= @book.description
    %span.row
      = link_to "ノートを追加", new_book_note_path(@book)
