= render 'book_detail'

.notes.box
  = link_to "自分のみ", my_notes_book_path(@book.id)
  = render 'book_notes_info', count: @book.notes.count
  - @book.notes.each do |note|
    .row
      .span1= note.page
      .span2= note.user.name
      .span4= note.note